.mainHeader {
  position: relative;
  height: 400px;
  background-color: rgb(197, 197, 212);
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  float: left;
  width: 27.3%;
  margin-top: 180px;
  margin-left: 60px;
}

.avatar img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.name {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -20px;
  text-align: center;
}

header h2 b {
  font-weight: lighter;  
}

@media only screen and (max-width: 1023px) {
  .mainHeader {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    height: 520px;
  }

  .logo {
    background: rgb(197, 197, 212);
    background-color: transparent;
  }
}