.counter {
  font-family: 'Bungee', cursive;
  float: right;
}

.redCounter {
  color: red;
}

input[type="submit"] {
  background: #4056A1;
  color: #fff;
  font-family: 'Bungee', cursive;
  margin-bottom: 50px;
}

.tweetBox {
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  background: transparent;
  border-color: transparent;
  border-bottom: solid;
  border-bottom-color: #4056A1;
  outline: none;
  height: 40px;
}

#tweetButton {
  display: none;
}